.pdf-previewer-container {
	margin-top: 2rem;
	overflow-y: scroll;
	height: 237mm;
	scrollbar-width: thin;
	background-color: rgb(212, 212, 212);
	margin-bottom: 1rem;
	max-width: 80vw;
	overflow: auto;
}

.page-wrapper {
	display: flex;
	margin-top: 4rem;
	gap: 1rem;
	padding: 1rem 2rem;
}

.page-checkbox {
	position: relative;
	height: 1rem;
	width: 1rem;
	display: flex;
	z-index: 1;
}