.utilities-bar {
	position: absolute;
	display: flex;
	justify-content: center;
	z-index: 2;
	padding: 0.4rem;
	width: 100%;
	gap: 1.5rem;
	right: 50%;
	transform: translateX(50%);
	background-color: rgba(255, 255, 255, 0.418);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.utilities-icon {
	width: 1rem;
	cursor: pointer;
}

.page-range {
	display: flex;
	align-items: center;
	justify-content:  left;
	gap: 1rem;
}

.range-input {
	padding: 0;
	margin: 0;
	width: 3rem;
	height: 1.5rem;
	outline: 1px black solid;
	z-index: 2;
	display: flex;
	padding: 0;
	margin: 0;
}

.range-label {
	font-size: 1rem;
}
